@model IEnumerable<Zoolirante.Models.Visitor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Login Form Container -->
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body p-4">
                    <h5 class="card-title mb-3">Login</h5>

                    <form>
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input id="username" type="text" class="form-control" placeholder="Enter username" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Enter password" />
                        </div>

                        <div class="d-grid">
                            <button type="button" class="btn btn-primary" disabled>Login</button>
                        </div>
                    </form>

                    <p>
                        <a asp-action="Create">Create an Account...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- you can un-comment this to view if creating a user has worked
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorNavigation.PersonId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
